<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="script.js"></script>
    <title>Haley Esthetics</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/policy">Policies</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        <div class="navbar-brand">Haley Esthetics</div>
    </nav>
    <!-- Main Content of Page -->
    <div class="content">

        <!-- About Haley Container -->
        <div id="odd">
        <!-- add image frame/shape later -->
        <img id="haleyProfile" src="media/Haley.jpg" alt="Haley Carter" width="100"><br>
        <h2>About the Artist</h2>
        <p>Haley | AZ LASH ARTIST she/her <br>
            Health/beauty <br>
            Lash Artist & Esthetician <br>
            Youngtown, AZ</p>
        <a href="about.ejs">More About Me</a>
        </div>

        <!-- Services Container -->
        

        <!-- Policies Container -->
        

        <!-- Images Container -->
        <div id="even">
        <h2>Image Gallery</h2>
            <div class="gallery">
                <img id="G1" src="media/G1.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G2" src="media/G2.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G3" src="media/G3.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G4" src="media/G4.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G5" src="media/G5.jpg" alt="Lash Example" class="gallery-img"><br>
            </div>
            <div class="modal" id="modal">
                <span class ="close" id="close">&times;</span>
                <img class="modal-content" id="modal-img">
            </div>
        </div>
    </div> 

</body>
</html>