<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="script.js"></script>
    <title>Haley Esthetics</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        
        <ul class="navbar-links">
            <li><a href="login.html">Login</a></li>
            <li><a href="review.html">About</a></li>
            <li><a href="about.html">Pricing</a></li>
            <li><a href="pricing.html">Reviews</a></li>
            <li><a href="admin.html">Admin</a></li>
        </ul>
        <div class="navbar-brand">Haley Esthetics</div>
    </nav>
    <!-- Main Content of Page -->
    <div class="content">

        <!-- About Haley Container -->
        <div id="odd">
        <!-- add image frame/shape later -->
        <img id="haleyProfile" src="media/Haley.jpg" alt="Haley Carter" width="100"><br>
        <h2>About the Artist</h2>
        <p>Haley | AZ LASH ARTIST she/her <br>
            Health/beauty <br>
            Lash Artist & Esthetician <br>
            Youngtown, AZ</p>
        <a href="about.ejs">More About Me</a>
        </div>

        <!-- Services Container -->
        <div id="even">
            <img id="EyeExample1" src="media/Eye1.jpg" alt="Lash Example" width="100"><br>
        <h2>Services</h2>
        
            <details>
                <summary>CLASSIC</summary>
                <p>1 last extension to 1 natural lash</p>
            </details>
            <details>
                <summary>VOLUME</summary>
                <p>A fan of 5 lash extension to 1 natural lash</p>
            </details>
            <details>
                <summary>MEGA</summary>
                <p>A fan of 16 lash extensions to 1 natural lash</p>
            </details>
            <details>
                <summary>HYBRID</summary>
                <p>50/50 mix of classic and volume</p>
            </details>
            <details>
                <summary>MINI FILLS</summary>
                <p>Mini fills are meant to be a “pick me up” for your lashes</p>
                <p>Meaning, you MUST have 75% retention to book a mini fill. Mini fills are usually booked a week or so after your regular lash fill.</p>
                <p>I personally use mini fills for last minute events that I didn’t plan for when scheduling my two week fills.</p>
                <p>Mini fill are NOT meant to take place of your regular two week fill. Please book responsibly so that I don’t have to result in taking mini fills off my menu</p>
            </details>
        </div>

        <!-- Policies Container -->
        <div id="odd">
        <h2>Policies</h2>
        <img id="EyeExample2" src="media/Eye2.jpg" alt="Lash Example" width="100"><br>
            <details>
                <summary>Clean Lashes</summary>
                    <p>Please arrive to your appointment with fresh, clean 
                        lashes! If lashes are dirty & require cleaning, an 
                        additional $15.00 will be added on the final service 
                        price.
                    </p>
            </details>
            <details>
                <summary>Arrival & Additional Guests</summary>
                    <p>Please arrive on time & alone. No family, friends, or 
                        children. Take this time to relax!
                    </p>
            </details> 
            <details>
                <summary>Non-refundable Deposit</summary>
                    <p>All full sets require a $50.00 non-refundable deposit to be 
                        received within 24 hours of booking your appointment 
                        or it will be canceled.<br>
                        This $50.00 will go towards the full service price. 
                    </p>
            </details>
            <details>
                <summary>Payment & Refunds</summary>
                    <p>Cash & Zelle are the ONLY forms of payment accepted. Please 
                        be prepared for your appointment.<br>
                        Refunds WILL NOT be issued. Please understand that
                        when a service is completed, time & product have been 
                        used. If you experience more fall-out than usual please 
                        reach out within TWO DAYS. 
                    </p>
            </details>
            <details>
                <summary>No Call No Show</summary>
                    <p>No call & no show will NOT be tolerated.<br>
                        You will NOT be allowed to reschedule.<br>
                        You WILL be charged the full service amount.
                    </p>
            </details>
            <details>
                <summary>Cancellations</summary>
                <h4>48 Hours</h4>    
                    <p>Cancellations that occur 48 hours before the appointment
                        time will be charged 45% of the full service amount.<br>
                        It is impossible for me to book someone else in that time 
                        slot.
                    </p>
                <h4>24 Hours</h4> 
                    <p>Cancellations that occur 24 hours before the appointment
                        time will be charged 60% of the full service amount.<br>
                        It is impossible for me to book someone else in that time 
                        slot.</p>
            </details>
            <details>
                <summary>Mini Fills</summary>
                    <p>Mini fills are only available within 8 days of your last fill.
                    </p>
            </details>
            <details>
                <summary>Fills</summary>
                    <p> Fills are to be scheduled every 2-3 weeks. Anything on/after
                        25 days/3.5 weeks will be considered a full set.<br>
                        Any fill with less than 40% of lash extensions remaining will
                        be considered a full set.
                    </p>
            </details>
            <p>Thank you for understanding my policies and respecting them. Policies 
                protect me AND my clients.
            </p>
        </div>

        <!-- Images Container -->
        <div id="even">
        <h2>Image Gallery</h2>
            <div class="gallery">
                <img id="G1" src="media/G1.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G2" src="media/G2.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G3" src="media/G3.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G4" src="media/G4.jpg" alt="Lash Example" class="gallery-img"><br>
                <img id="G5" src="media/G5.jpg" alt="Lash Example" class="gallery-img"><br>
            </div>
            <div class="modal" id="modal">
                <span class ="close" id="close">&times;</span>
                <img class="modal-content" id="modal-img">
            </div>
        </div>
    </div> 

</body>
</html>