<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <title>Policy</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-brand">Haley Esthetics</div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/policy">Policies</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- Policies Container -->
    <div id="odd">
        <h2>Policies</h2>
        <img id="EyeExample2" src="media/Eye2.jpg" alt="Lash Example" width="100"><br>
            <details>
                <summary>Clean Lashes</summary>
                    <p>Please arrive to your appointment with fresh, clean 
                        lashes! If lashes are dirty & require cleaning, an 
                        additional $15.00 will be added on the final service 
                        price.
                    </p>
            </details>
            <details>
                <summary>Arrival & Additional Guests</summary>
                    <p>Please arrive on time & alone. No family, friends, or 
                        children. Take this time to relax!
                    </p>
            </details> 
            <details>
                <summary>Non-refundable Deposit</summary>
                    <p>All full sets require a $50.00 non-refundable deposit to be 
                        received within 24 hours of booking your appointment 
                        or it will be canceled.<br>
                        This $50.00 will go towards the full service price. 
                    </p>
            </details>
            <details>
                <summary>Payment & Refunds</summary>
                    <p>Cash & Zelle are the ONLY forms of payment accepted. Please 
                        be prepared for your appointment.<br>
                        Refunds WILL NOT be issued. Please understand that
                        when a service is completed, time & product have been 
                        used. If you experience more fall-out than usual please 
                        reach out within TWO DAYS. 
                    </p>
            </details>
            <details>
                <summary>No Call No Show</summary>
                    <p>No call & no show will NOT be tolerated.<br>
                        You will NOT be allowed to reschedule.<br>
                        You WILL be charged the full service amount.
                    </p>
            </details>
            <details>
                <summary>Cancellations</summary>
                <h4>48 Hours</h4>    
                    <p>Cancellations that occur 48 hours before the appointment
                        time will be charged 45% of the full service amount.<br>
                        It is impossible for me to book someone else in that time 
                        slot.
                    </p>
                <h4>24 Hours</h4> 
                    <p>Cancellations that occur 24 hours before the appointment
                        time will be charged 60% of the full service amount.<br>
                        It is impossible for me to book someone else in that time 
                        slot.</p>
            </details>
            <details>
                <summary>Mini Fills</summary>
                    <p>Mini fills are only available within 8 days of your last fill.
                    </p>
            </details>
            <details>
                <summary>Fills</summary>
                    <p> Fills are to be scheduled every 2-3 weeks. Anything on/after
                        25 days/3.5 weeks will be considered a full set.<br>
                        Any fill with less than 40% of lash extensions remaining will
                        be considered a full set.
                    </p>
            </details>
            <p>Thank you for understanding my policies and respecting them. Policies 
                protect me AND my clients.
            </p>
        </div>
</body>
</html>