<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <title>Pricing</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-brand">Haley Esthetics</div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/policy">Policies</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
        

    </nav>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <!-- Services Container -->
    <div id="even">
        <img id="EyeExample1" src="media/Eye1.jpg" alt="Lash Example" width="100"><br>
    <h2>Services</h2>
    
        <details>
            <summary>CLASSIC</summary>
            <p>1 last extension to 1 natural lash <b>$135</b></p>
        </details>
        <details>
            <summary>VOLUME</summary>
            <p>A fan of 5 lash extension to 1 natural lash <b>$195</b></p>
        </details>
        <details>
            <summary>MEGA</summary>
            <p>A fan of 16 lash extensions to 1 natural lash <b>$200</b></p>
        </details>
        <details>
            <summary>HYBRID</summary>
            <p>50/50 mix of classic and volume <b>$80</b></p>
        </details>
        <details>
            <summary>MINI FILLS</summary>
            <p>Mini fills are meant to be a “pick me up” for your lashes <b>$45 - $60</b></p>
            <p>Meaning, you MUST have 75% retention to book a mini fill. Mini fills are usually booked a week or so after your regular lash fill.</p>
            <p>I personally use mini fills for last minute events that I didn’t plan for when scheduling my two week fills.</p>
            <p>Mini fill are NOT meant to take place of your regular two week fill. Please book responsibly so that I don’t have to result in taking mini fills off my menu</p>
        </details>
    </div>
</body>
</html>