<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haley Esthetics</title>
</head>
<body>
    <h3>login</h3>
    <h1>Haley Esthetics</h1>
    <!-- add image frame/shape later -->
    <img id="haleyProfile" src="media/Haley.jpg" alt="Haley Carter" width="100"><br>
    <h2>About the Artist</h2>
    <p>Haley | AZ LASH ARTIST she/her <br>
        Health/beauty <br>
        Lash Artist & Esthetician <br>
        Youngtown, AZ</p>
    <img id="haleyProfile" src="media/Haley.jpg" alt="Haley Carter" width="100"><br>
    <h2>Policies</h2>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            
        </ul>
    <h2>IMages</h2>
    <img id="haleyProfile" src="media/Haley.jpg" alt="Haley Carter" width="100"><br>
    <h2>reviews</h2>
    <h2></h2>
</body>
</html>