<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Navigation Bar -->
  <nav class="navbar">
    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/policy">Policies</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
    <div class="navbar-brand">Haley Esthetics</div>
  </nav>
<br><br><br><br><br><br>
<!-- Table Showing User Records -->
  <h2 style="text-align: left;">Reviews</h2>
  <table>
    <thead>
      <tr>
        <th>Review Date</th>
        <th>Rating</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <!-- Takes records from database & displays each on the page -->
      <% if (reviews.length > 0) { %>
        <% reviews.forEach(row => { %>
          <tr>
            <td><%= new Date(row.review_date).toLocaleDateString() %></td>
            <td><%= row.rating %></td>
            <td><%= row.comment %></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="7">No data available</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>