/* Add CSS Here, use lovely pink */

body {
    background-color: #faefe0;
    text-align: center;
    padding: 20px;
}

#login-link{
    text-align: right;
}

/* NAVIGATION BAR */
    /* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #faefe0;
    color: #f7bcba;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it stays above other content */
    flex-direction: column; /* Stack links and brand vertically */
}


.navbar-content {
    text-align: center;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: bold;
    font-family:Georgia, serif;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #faefe0;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    background-color: #f7bcba; 
    padding: 10px 20px; /* Button padding */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s;
    display: inline-block;
    font-weight: bold; /* Make text bold for better readability */
}

.navbar-links a:hover {
    background-color: #f5aeac; /* Darker purple on hover */
}

/* Add padding to the top of the page content to avoid overlap */
.content {
    padding-top: 110px; /* Adjust this based on the height of your navbar */
}


/* the dropdown details menu */
details {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    padding: 15px;
    cursor: pointer;
    background-color: #f4e4e4;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* back ground color blocks*/
#even {
    background-color: #faefe0;
}

#odd {
    background-color: #f7bcba;
}




/* Image Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-img {
    width: 150px;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}
